.photo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #d9f4fa;
}

.card {
  background-color: #d9f4fa;
}

.photo-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  width: 350px;
  height: 200px;
  margin: 5px;
  border: 2px solid black;
}
